.DS_Store
.next
node_modules
coverage
index.js
index.d.ts
react/index.js
react/index.d.ts
next/config.js
next/config.d.ts
next/link.js
next/link.d.ts
next/head.js
next/head.d.ts
next/translate.js
next/translate.d.ts
next/metadata.js
next/metadata.d.ts
next/get-static-props.js
next/get-static-props.d.ts
next/get-server-side-props.js
next/get-server-side-props.d.ts
